/* COMPLEMENTARY FILE, should be imported into another stylesheet file */

@media screen and (min-width: 72em) { /* If not "phone mode" */
    /* Main functions */
    #main-room { max-width: initial; padding: 3.6rem 0 3.5rem; }
    #main-room .right_section {
        width: 450px !important;
        border-radius: 0;
        float: right !important;
        height: 100%;
    }
    #main-room #chat .chat-container .chat-messages { height: inherit; }
    #main-room #chat .chat-container, #chat { height: 100%; }
}

#main_player {
    padding: 0;
    border-radius: 0;
    height: inherit;
    background-color: rgba(0,0,0,0);
    border-top: 1px solid #878c8e;
}
#main_player #mods-controllers,
#main_player #room-info-display,
#main_player .player_container {
    padding: 0;
    height: inherit;
}
#main_player #mods-controllers,
#main_player #room-info-display .room-info-display-wrapper {
    padding: 0 1rem;
}
#main_player #mods-controllers,
#mods-controllers .mods-controllers-main-wrapper {
    position: relative;
}
#main_player #mods-controllers { padding-right: 0; }
#main_player .player_header {
    top: -3rem;
    height: 50rem;
    display: flex;
}
#main_player .player_header span {
    flex: 1;
    order: 0;
    height: 100%;
    line-height: 1;
    border-radius: 0;
    margin: 0;
    padding: 1rem 0;
    color: #878c8e;
    opacity: 1;
    background-color: rgba(0,0,0,0) !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#main_player .player_header span:hover,
#main_player .player_header span.active {
    color: #fff;
}
#main_player .player_header span.active { border-bottom: 2px solid #fff; }
#main_player .player_header span.edit-room i {
    position: initial;
    line-height: .4;
}
#main_player .player_header span.skip-el,
#main_player .player_header span.skip-el:hover {
    color: #f00;
    flex: .33;
    order: 1;
    transition: text-shadow .1s linear;
}
#main_player .player_header span.skip-el:hover {
    text-shadow: 0 0 .05rem red
}
#main_player .player_sharing {
    position: absolute;
    width: 100%;
    height: 3.55rem;
    padding: 1rem 1rem 0;
    margin: 0;
    border-top: 1px solid #878C8E;
}

